.child9,
.frame-icon6 {
  position: absolute;
  top: 0;
}
.frame-icon6 {
  left: -6px;
  width: 1885px;
  height: 684px;
  overflow: hidden;
  object-fit: cover;
}
.child9 {
  left: 0;
  width: 1873px;
  height: 128px;
}
.item-link13,
.item-link14,
.item-link15,
.item-link16 {
  position: absolute;
  top: 28px;
  left: calc(50% - 502.4px);
  line-height: 13px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34.1px;
  height: 13px;
  transform: rotate(180deg);
  transform-origin: 0 0;
  cursor: pointer;
}
.item-link14,
.item-link15,
.item-link16 {
  left: calc(50% + 328.6px);
  width: 98.3px;
}
.item-link15,
.item-link16 {
  left: calc(50% + 46.2px);
  width: 79.7px;
  transform: rotate(-180deg);
}
.item-link16 {
  top: 24px;
  left: calc(50% - 169.5px);
  width: 145px;
  height: 11px;
}
.container10 {
  position: absolute;
  top: 0;
  left: 74px;
  width: 1815px;
  height: 38px;
}
.frame-icon7,
.frame57,
.frame58 {
  position: absolute;
  overflow: hidden;
}
.frame57 {
  top: 81px;
  left: -8px;
  width: 1889px;
  height: 38px;
}
.frame-icon7,
.frame58 {
  left: -1px;
}
.frame58 {
  top: 1267px;
  background-color: var(--color-gray-200);
  width: 1874px;
  height: 1657px;
}
.frame-icon7 {
  top: 1525px;
  width: 1875px;
  height: 1463px;
  object-fit: cover;
}
.child10 {
  position: absolute;
  top: 684px;
  left: 0;
  width: 1873px;
  height: 604px;
}
.thal-emorth-xal {
  margin: 0;
}
.thal-emorth-xal-container1 {
  width: 100%;
}
.thal-emorth-xal-container {
  position: absolute;
  top: 476px;
  left: 50px;
  font-size: var(--font-size-45xl);
  line-height: 13px;
  font-weight: 500;
  color: #8c0404;
  display: flex;
  align-items: center;
  width: 1773px;
  height: 1248px;
}
.div8 {
  width: 100%;
  position: relative;
  background: linear-gradient(#fff, #fff), #fff;
  height: 2988px;
  overflow-y: auto;
  text-align: center;
  font-size: var(--font-size-smi-8);
  color: var(--color-white);
  font-family: var(--font-jost);
}