.tr {
  position: absolute;
  top: calc(50% + 3163.2px);
  left: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.dbba-c419-4517-ac93-daa322cde1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1873px;
  height: 684px;
  object-fit: cover;
}
.child {
  position: absolute;
  top: 0;
  left: -1px;
  width: 1873px;
  height: 128px;
}
.how-we-help {
  position: absolute;
  top: 18.8px;
  right: -0.4px;
  line-height: 20.8px;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 129.1px;
  height: 20.8px;
}
.global-social-betterment {
  margin: 0;
}
.global-social-betterment-container1 {
  width: 100%;
}
.global-social-betterment-container {
  position: absolute;
  top: 51px;
  right: -7.8px;
  font-size: 11.2px;
  line-height: 14px;
  font-family: var(--font-open-sans);
  color: var(--color-darkgray);
  text-align: left;
  display: flex;
  align-items: center;
  width: 136.8px;
  height: 42px;
}
.link {
  position: absolute;
  top: 6px;
  right: 955px;
  width: 150px;
  height: 90.4px;
  text-align: right;
  font-size: 19.2px;
  color: #4a4a4a;
}
.the-way-to-happinesssvg-icon {
  position: absolute;
  top: calc(50% - 48.5px);
  left: calc(50% - 31.5px);
  width: 63px;
  height: 63px;
  overflow: hidden;
  object-fit: cover;
}
.the-way-to-container {
  position: absolute;
  top: 69px;
  left: calc(50% - 27px);
  line-height: 14px;
  display: flex;
  align-items: center;
  width: 54.2px;
  height: 28px;
}
.link1 {
  position: absolute;
  top: 8px;
  left: calc(50% - 339.5px);
  width: 97.6px;
  height: 97px;
}
.applied-scholastics-txt-container {
  line-break: anywhere;
  width: 100%;
}
.applied-scholastics {
  position: absolute;
  top: 69px;
  left: calc(50% - 26.4px);
  line-height: 14px;
  display: flex;
  align-items: center;
  width: 53px;
  height: 28px;
}
.criminal-reform,
.link2 {
  position: absolute;
  top: 8px;
  left: calc(50% - 233.9px);
  width: 97.6px;
  height: 97px;
}
.criminal-reform {
  top: 69px;
  left: calc(50% - 20.5px);
  line-height: 14px;
  display: flex;
  align-items: center;
  width: 41.2px;
  height: 28px;
}
.link3 {
  position: absolute;
  top: 8px;
  left: calc(50% - 128.3px);
  width: 97.6px;
  height: 97px;
}
.narconon-drug-rehab {
  position: absolute;
  top: 69px;
  left: calc(50% - 29.2px);
  line-height: 14px;
  display: flex;
  align-items: center;
  width: 58.5px;
  height: 28px;
}
.drug-free-world,
.link4 {
  position: absolute;
  top: 8px;
  left: calc(50% - 22.7px);
  width: 97.6px;
  height: 97px;
}
.drug-free-world {
  top: 69px;
  left: calc(50% - 24px);
  line-height: 14px;
  display: flex;
  align-items: center;
  width: 48.1px;
  height: 28px;
}
.link5 {
  position: absolute;
  top: 8px;
  left: calc(50% + 82.9px);
  width: 97.6px;
  height: 97px;
}
.human-rightssvg-icon {
  position: absolute;
  top: calc(50% - 41.5px);
  left: calc(50% - 31.5px);
  width: 63px;
  height: 63px;
  overflow: hidden;
  object-fit: cover;
}
.human-rights {
  position: absolute;
  top: 69px;
  left: calc(50% - 33.8px);
  line-height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 68px;
  height: 14px;
}
.link6 {
  position: absolute;
  top: 8px;
  left: calc(50% + 188.6px);
  width: 97.6px;
  height: 83px;
}
.mental-health-reform-container {
  position: absolute;
  top: 69px;
  left: calc(50% - 33.4px);
  line-height: 14px;
  display: flex;
  align-items: center;
  width: 67px;
  height: 28px;
}
.link7 {
  position: absolute;
  top: 8px;
  left: calc(50% + 294.2px);
  width: 97.6px;
  height: 97px;
}
.volunteer-ministers {
  position: absolute;
  top: 69px;
  left: calc(50% - 23.1px);
  line-height: 14px;
  display: flex;
  align-items: center;
  width: 46.4px;
  height: 28px;
}
.link8 {
  position: absolute;
  top: 8px;
  left: calc(50% + 399.8px);
  width: 97.6px;
  height: 97px;
}
.background,
.container {
  position: absolute;
  height: 110.2px;
}
.container {
  top: -84px;
  left: calc(50% - 531px);
  width: 1063px;
}
.background {
  width: calc(100% - 9px);
  top: 839px;
  right: 0;
  left: 9px;
  background-color: var(--color-white);
  font-size: var(--font-size-xs-5);
}
.item-link,
.item-link1,
.item-link2,
.item-link3,
.join-us {
  position: absolute;
  top: 15px;
  line-height: 13px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 13px;
}
.item-link {
  left: calc(50% - 537px);
  width: 34.1px;
  cursor: pointer;
}
.item-link1,
.item-link2,
.item-link3,
.join-us {
  left: calc(50% - 337px);
  width: 136px;
}
.item-link2,
.item-link3,
.join-us {
  left: calc(50% - 34px);
  width: 79.7px;
}
.item-link3,
.join-us {
  left: calc(50% + 229.8px);
  width: 98.3px;
}
.join-us {
  top: 11px;
  left: calc(50% - 30.2px);
  width: 60.8px;
}
.item-link4 {
  position: absolute;
  width: calc(100% - 1027.6px);
  top: 3px;
  right: 0.1px;
  left: 1027.5px;
  border-radius: var(--br-9xs);
  border: 1px solid rgba(246, 246, 246, 0.39);
  box-sizing: border-box;
  height: 35px;
}
.container1,
.list {
  position: absolute;
  height: 40px;
}
.list {
  width: calc(100% - 810px);
  top: 0;
  right: 405px;
  left: 405px;
}
.container1 {
  top: 80px;
  left: 0;
  width: 1920px;
  font-size: var(--font-size-smi-8);
  color: var(--color-white);
}
.a-glimpse-of {
  position: absolute;
  top: 2.7px;
  left: calc(50% - 273.05px);
  line-height: 17.6px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 546.4px;
  height: 17.6px;
}
.heading-6-link {
  position: absolute;
  top: 37px;
  left: calc(50% - 242px);
  width: 546.1px;
  height: 23px;
}
.flag-cornerstone-ball-cob-rtc-icon {
  position: absolute;
  top: 0;
  left: calc(50% - 199.5px);
  width: 400px;
  height: 266.7px;
  overflow: hidden;
  object-fit: cover;
}
.link9 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 331.5px;
}
.container3 {
  position: absolute;
  width: calc(100% - 1511px);
  top: 81.6px;
  right: 1175px;
  left: 336px;
  border-radius: var(--br-9xs);
  height: 339.5px;
  overflow: hidden;
}
.aecd7-adc5-4bd0-bc7b-03ee81247-icon {
  position: absolute;
  top: -21.7px;
  left: -11px;
  width: 411px;
  height: 288px;
  object-fit: cover;
}
.container4,
.container5 {
  position: absolute;
  width: calc(100% - 1511px);
  top: 81.6px;
  right: 725px;
  left: 786px;
  border-radius: var(--br-9xs);
  height: 339.5px;
  overflow: hidden;
}
.container5 {
  right: 275px;
  left: 1236px;
}
.container2,
.heading-2 {
  position: absolute;
  left: 0;
}
.container2 {
  width: calc(100% - 9px);
  top: 949px;
  right: 9px;
  height: 429px;
  overflow: hidden;
  color: #444;
}
.heading-2 {
  top: 0;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 318px;
  height: 24px;
}
.image-icon {
  position: absolute;
  top: 280px;
  right: 0;
  width: 8px;
  height: 8px;
}
.link12 {
  position: absolute;
  top: 1489px;
  left: calc(50% - 359.5px);
  border-bottom: 3px solid #f8f8f8;
  box-sizing: border-box;
  width: 629px;
  height: 24px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: #707070;
}
.dalle-2024-07-17-114331-m {
  position: absolute;
  top: 2198px;
  left: 0;
  width: 1873px;
  height: 688px;
  object-fit: cover;
}
.a-warm-and-container {
  position: absolute;
  top: 1795px;
  left: calc(50% - 359.5px);
  line-height: 24px;
  font-family: var(--font-open-sans);
  color: #212529;
  text-align: left;
  display: flex;
  align-items: center;
  width: 719px;
  height: 48px;
}
.div {
  width: 100%;
  position: relative;
  background: linear-gradient(#fff, #fff), #fff;
  height: 2886px;
  overflow-y: auto;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-darkgray);
  font-family: var(--font-jost);
}
