.openart-image-1boinv2c-1721757-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1873px;
  height: 688px;
  object-fit: cover;
}
.r-1 {
  position: absolute;
  top: 0;
  left: -5px;
  width: 1878px;
  height: 688px;
}
.child1,
.child2,
.inner {
  position: absolute;
  top: 1449px;
  left: 626px;
  width: 1265px;
  height: 1510px;
}
.child1,
.child2 {
  top: 1488px;
  left: 756px;
  width: 1158px;
  height: 1479px;
}
.child2 {
  top: 1519px;
  left: 733px;
  height: 1469px;
}
.child3,
.rectangle-div {
  position: absolute;
  top: 1554px;
  left: 717px;
  width: 1159px;
  height: 1434px;
}
.rectangle-div {
  top: 2871px;
  left: 0;
  background-color: var(--color-white);
  width: 1891px;
  height: 117px;
}
.child4 {
  top: 0;
  left: 0;
  width: 1873px;
  height: 128px;
}
.child4,
.child5,
.child6 {
  position: absolute;
}
.child5 {
  top: 1474px;
  left: 1322px;
  border-radius: var(--br-34xl);
  width: 405px;
  height: 234px;
}
.child6 {
  top: 686px;
  left: 1px;
  width: 1873px;
  height: 604px;
}
.welcome-to-our {
  top: 1923px;
  left: calc(50% - 74.5px);
  line-height: 35px;
  font-family: var(--font-open-sans);
  width: 900px;
  height: 544px;
}
.books,
.services,
.we-provide-personalized,
.welcome-to-our {
  position: absolute;
  display: flex;
  align-items: center;
}
.we-provide-personalized {
  top: 767px;
  left: 839px;
  line-height: 35px;
  font-family: var(--font-open-sans);
  color: var(--color-white);
  width: 703px;
  height: 422px;
}
.books,
.services {
  top: 873px;
  right: 432px;
  font-size: var(--font-size-53xl);
  line-height: 20.8px;
  font-weight: 800;
  width: 990px;
  height: 135px;
}
.books {
  top: 1748px;
  right: 21px;
}
.home1,
.join-us10 {
  position: relative;
  line-height: 13px;
  font-weight: 500;
}
.home1 {
  flex: 1;
  cursor: pointer;
}
.join-us10 {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.7);
}
.join-us-container {
  flex: 1;
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  height: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.home-group {
  position: absolute;
  top: 76px;
  left: calc(50% - 647.5px);
  width: 1295px;
  height: 31px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-136xl);
  text-align: center;
  font-size: var(--font-size-smi-8);
  color: var(--color-white);
}
.div3 {
  width: 100%;
  position: relative;
  background: linear-gradient(#fff, #fff), #fff;
  height: 2988px;
  overflow-y: auto;
  text-align: left;
  font-size: var(--font-size-7xl);
  color: var(--color-black);
  font-family: var(--font-jost);
}