@keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}
.the-way-to1 {
  margin: 0;
}
.the-way-to-container3 {
  width: 100%;
}
.the-way-to-container2 {
  position: absolute;
  top: 74px;
  left: calc(50% - 186.5px);
  line-height: 50px;
  font-weight: 900;
  display: flex;
  align-items: center;
  width: 374px;
  height: 85px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.frame-child1,
.the-way-to-happiness-wrapper {
  position: absolute;
  border-radius: var(--br-34xl);
  width: 405px;
  height: 234px;
}
.the-way-to-happiness-wrapper {
  top: 60px;
  left: 194px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  background-color: var(--color-royalblue);
}
.drug-free-world-wrapper:hover,
.frame-child4:hover,
.frame28:hover,
.frame30:hover,
.rectangle-group:hover,
.rectangle-parent:hover,
.the-way-to-happiness-wrapper:hover,
.vector-container:hover,
.vector-group:hover {
  animation: 1s ease 0s infinite normal none scale-down-center;
  opacity: 1;
}
.frame-child1 {
  top: 0;
  left: 113px;
}
.mental-health-reform-container2 {
  position: absolute;
  top: 27px;
  left: calc(50% - 315.5px);
  line-height: 50px;
  font-weight: 900;
  display: flex;
  align-items: center;
  width: 631px;
  height: 195px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.frame-child2,
.vector-group {
  position: absolute;
  height: 234px;
}
.vector-group {
  top: 215px;
  left: 627px;
  width: 631px;
  font-size: var(--font-size-31xl);
}
.frame-child2 {
  top: 7px;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  border-radius: var(--br-34xl);
  background-color: var(--color-royalblue);
  width: 405px;
}
.human-rights1 {
  position: absolute;
  top: 6px;
  left: calc(50% - 109.5px);
  line-height: 50px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 219px;
  height: 235px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.rectangle-parent {
  position: absolute;
  top: 609px;
  left: 522px;
  width: 405px;
  height: 241px;
}
.drug-free-world-txt-container1 {
  line-break: anywhere;
  width: 100%;
}
.drug-free-world1 {
  position: absolute;
  top: 35px;
  left: calc(50% - 149.5px);
  line-height: 50px;
  font-weight: 900;
  display: flex;
  align-items: center;
  width: 300px;
  height: 164px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.drug-free-world-wrapper,
.frame-child3 {
  position: absolute;
  left: 0;
  border-radius: var(--br-34xl);
  width: 405px;
  height: 234px;
}
.drug-free-world-wrapper {
  top: 450px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  background-color: var(--color-royalblue);
}
.frame-child3 {
  top: 0;
}
.criminal-reform1 {
  position: absolute;
  top: 57px;
  left: calc(50% - 161.5px);
  line-height: 50px;
  font-weight: 900;
  display: flex;
  align-items: center;
  width: 324px;
  height: 132px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.frame-child4,
.vector-container {
  position: absolute;
  top: 449px;
  left: 1173px;
  width: 405px;
  height: 234px;
}
.frame-child4 {
  top: 0;
  left: 8px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  border-radius: var(--br-34xl);
  background-color: var(--color-royalblue);
}
.applied-scholastics1 {
  position: absolute;
  top: 60px;
  left: calc(50% - 211.5px);
  line-height: 50px;
  font-weight: 900;
  display: flex;
  align-items: center;
  width: 423px;
  height: 114px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.frame15,
.rectangle-group {
  position: absolute;
  top: 0;
  left: 1222px;
  width: 423px;
  height: 234px;
}
.frame15 {
  left: 97px;
  width: 1645px;
  height: 850px;
  overflow: hidden;
}
.frame14,
.frame17 {
  left: 0;
  overflow: hidden;
}
.frame14 {
  position: absolute;
  top: 1474px;
  width: 1742px;
  height: 850px;
}
.frame17 {
  width: 1878px;
  height: 1290px;
}
.frame17,
.frame18,
.r-1-icon {
  position: absolute;
  top: 0;
}
.frame18 {
  left: 5px;
  width: 1873px;
  height: 1298px;
  overflow: hidden;
}
.r-1-icon {
  left: 0;
  width: 1878px;
  height: 688px;
  object-fit: cover;
}
.frame-icon2 {
  position: absolute;
  top: 0;
  left: 5px;
  width: 1873px;
  height: 1290px;
  overflow: hidden;
}
.global-social-betterment-container2 {
  position: absolute;
  top: 673px;
  right: 0;
  line-height: 48px;
  display: flex;
  align-items: center;
  width: 674px;
  height: 625px;
}
.frame23 {
  position: absolute;
  top: 0;
  left: 1019px;
  width: 674px;
  height: 1298px;
  overflow: hidden;
  font-family: var(--font-open-sans);
}
.frame24,
.how-we-help3 {
  position: absolute;
  width: 990px;
}
.how-we-help3 {
  top: 913px;
  right: 0;
  line-height: 20.8px;
  font-weight: 800;
  display: flex;
  align-items: center;
  height: 135px;
}
.frame24 {
  top: 0;
  left: 366px;
  height: 1048px;
  overflow: hidden;
  font-size: var(--font-size-53xl);
  color: var(--color-black);
}
.frame-child5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1873px;
  height: 128px;
}
.home2,
.join-us11 {
  position: relative;
  line-height: 13px;
  font-weight: 500;
}
.home2 {
  flex: 1;
  cursor: pointer;
}
.join-us11 {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.7);
}
.join-us-frame {
  flex: 1;
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  height: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.home-container {
  position: absolute;
  top: 76px;
  left: calc(50% - 647.5px);
  width: 1295px;
  height: 31px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-136xl);
}
.frame13,
.frame16,
.frame25 {
  position: absolute;
  top: 0;
  overflow: hidden;
}
.frame25 {
  left: 0;
  width: 1815px;
  height: 119px;
  text-align: center;
  font-size: var(--font-size-smi-8);
  color: var(--color-white);
}
.frame13,
.frame16 {
  width: 1878px;
}
.frame16 {
  left: 0;
  height: 1298px;
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--color-gray-100);
}
.frame13 {
  left: -5px;
  height: 2324px;
}
.contact-us-email1 {
  margin: 0;
  white-space: pre-wrap;
}
.contact-us-email-container2 {
  position: absolute;
  top: 0;
  left: calc(50% - 890.5px);
  line-height: 25px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 1816px;
  height: 77px;
}
.frame27 {
  position: absolute;
  top: 546px;
  left: 0;
  width: 1881px;
  height: 98px;
  overflow: hidden;
}
.volunteer-ministers1 {
  position: absolute;
  top: 34px;
  left: calc(50% - 196.5px);
  line-height: 50px;
  font-weight: 900;
  display: flex;
  align-items: center;
  width: 394px;
  height: 166px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.frame-child6,
.volunteer-ministers-wrapper {
  position: absolute;
  top: 0;
  left: 720px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  border-radius: var(--br-34xl);
  background-color: var(--color-royalblue);
  width: 405px;
  height: 234px;
}
.frame-child6 {
  left: 50px;
}
.narconon-drug-rehab1 {
  position: absolute;
  top: 7px;
  left: calc(50% - 258.5px);
  line-height: 50px;
  font-weight: 900;
  display: flex;
  align-items: center;
  width: 517px;
  height: 219px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.frame26,
.frame28,
.frame29,
.frame30,
.rectangle-container {
  position: absolute;
  top: 120px;
  left: 0;
  width: 517px;
  height: 234px;
}
.frame26,
.frame28,
.frame29,
.frame30 {
  top: 0;
  height: 354px;
  overflow: hidden;
}
.frame26,
.frame28,
.frame29 {
  left: 410px;
  width: 1125px;
}
.frame26,
.frame28 {
  left: 0;
  width: 1535px;
  font-size: var(--font-size-35xl);
  color: var(--color-white);
}
.frame26 {
  top: 2344px;
  left: -5px;
  width: 1850px;
  height: 623px;
  font-size: var(--font-size-base-8);
  color: var(--color-black);
}
.div4 {
  width: 100%;
  position: relative;
  background: linear-gradient(#fff, #fff), #fff;
  height: 2988px;
  overflow-y: auto;
  text-align: center;
  font-size: var(--font-size-35xl);
  color: var(--color-white);
  font-family: var(--font-jost);
}